@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    /* Primary Colors */
    --marine-blue: hsl(213, 96%, 18%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);

    /* Neutral Colors */
    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(225, 7%, 78%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Ubuntu", sans-serif;
}

body {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee
}

main {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    width: 900px;
}

aside {
    background: url("./assets/images/bg-sidebar-desktop.svg");
    background-size: fill;
    background-repeat: no-repeat;
    padding: 40px 60px 10px 30px;
    color: #fff;
    height: 568px;
    width: 274px;

}

.side-bar {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.side-bar-steps {
    display: flex;
    align-items: center;
    gap: 22px;
}

.step-number {
    height: 35px;
    width: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.95rem;
}

.step-number.active {
    color: black;
    background-color: var(--light-blue);
    border-color: var(--light-blue);
}

.step-info-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.step-title-number {
    color: rgb(209, 209, 209);
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 400;
}

.step-title {
    font-size: 0.94rem;
    font-weight: 900;
    text-transform: uppercase;
}

.main-section {
    padding: 0px 80px;
    padding-top: 40px;
    padding-right: 60px;
    flex: 1;
    justify-content: center;
}


form {
    position: relative;
    height: 100%;
    overflow-x: hidden;
}

.steps-container {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease;
    left: 100%;
}

#step1 {
    left: 0%;
}

#step5 {
    position: absolute;
    left: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 80px;

    img {
        width: 60px;
    }

    p {
        color: var(--cool-gray);
        text-align: center;
        font-size: 1.1rem;
    }

}



input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid var(--cool-gray);
    border-radius: 4px;
    background-color: var(--white);
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    background-color: var(--purplish-blue);
    border-color: var(--purplish-blue);
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 50%;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transition: transform 0.2s ease;
}

input[type="checkbox"]:checked::before {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

input[type="checkbox"]:hover {
    border-color: var(--marine-blue);
}

input[type="checkbox"]:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(100, 100, 250, 0.5);
}







h1 {
    font-size: 2rem;
    color: var(--marine-blue);
}

.info-p {
    color: var(--cool-gray);
    margin-top: 10px;
    font-size: 1.02rem;
}



.form-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--marine-blue);

    .err-msg {
        display: none;
        font-weight: 500;
        font-size: 0.98rem;
        color: var(--strawberry-red);
        position: absolute;
        right: 0;
        top: 2px;
    }

    label {
        font-weight: 400;
        font-size: 1.08rem;
    }

    input {
        border: 1px solid var(--cool-gray);
        color: var(--marine-blue);
        padding: 0.7em 0.9em;
        border-radius: 8px;
        font-size: 1.1rem;
        font-weight: 500;
    }

    input:focus {
        outline: none;
        border: 1px solid purple;
    }

    input::placeholder {
        color: var(--light-gray);
        font-weight: 500;
    }

}

.btn-container {
    width: 100%;
    position: absolute;
    bottom: 0;

    .btn-cont {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.btn {
    width: fit-content;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.8em 1.2em;
    border: none;
    transition: all 0.2s ease;

}

.btn-secondary {
    background-color: transparent;
    padding-left: 0;
    color: var(--cool-gray);
}

.btn-secondary:hover {
    color: var(--marine-blue);
}

.btn-primary,
.btn-confirm {
    background-color: var(--marine-blue);
    color: #fff;
    border-radius: 6px;
    right: 0;
}

.btn-confirm {
    width: fit-content;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.8em 1.2em;
    border: none;
    transition: all 0.2s ease;
}


.btn-primary:hover {
    background-color: var(--purplish-blue);
}



.card-container {
    margin-top: 40px;
    display: flex;
    gap: 20px;



    .card {
        flex: 1;


        input {
            display: none;
        }

        label {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 30px;
            border: 1px solid var(--light-gray);
            border-radius: 5px;
            padding: 16px 11px;


            img {
                width: 42px;
            }

            .plan-info {
                display: flex;
                flex-direction: column;
                gap: 6px;

                h2 {
                    font-size: 1.1rem;
                    color: var(--marine-blue);
                }

                span {
                    font-size: 0.98rem;
                    color: var(--light-gray);
                    font-weight: 400;
                }
            }
        }

        input:checked+label {
            border-color: purple;
        }
    }
}

.toggle-container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--magnolia);
    padding: 6px;
    gap: 20px;
    color: var(--cool-gray);
    font-weight: 600;

    label {
        cursor: pointer;
    }

    input {
        display: none;
    }



    #toggleBtn {
        cursor: pointer;
        position: relative;
        display: inline-block;
        width: 45px;
        height: 23px;
        border-radius: 21px;
        background-color: var(--marine-blue);
        padding: 2px 4px;

        span {
            position: absolute;
            top: 4px;
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 15px;
            background-color: var(--white);
            transition: all 0.4s ease;
            left: 4px;
            /* right: 4px; */
        }


    }
}

#monthly:checked+label {
    color: var(--marine-blue);
}

#yearly:checked+label {
    color: var(--marine-blue);
}


.add-on-blocks {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .block {
        flex: 1;
        border: 1px solid var(--cool-gray);
        padding: 1em 1.4em;
        border-radius: 6px;


        label {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;

            .mid-block {
                flex: 1;

                h2 {
                    font-size: 1.2em;
                    font-weight: 500;
                    color: var(--marine-blue);
                }

                p {
                    font-size: 0.95em;
                    color: var(--cool-gray);
                }
            }

            .addon-pricing {
                color: var(--purplish-blue);
                font-weight: 400;
            }
        }

    }
}


#summaryTable {
    margin-top: 40px;
    background-color: var(--magnolia);
    padding: 20px 25px;

}

#summaryTable table {
    width: 100%;
    border-collapse: collapse;

}

thead tr {
    border-bottom: 1px solid gainsboro;

    th {
        padding-bottom: 20px;
        color: var(--marine-blue);
        font-weight: 500;

        #planType {
            font-size: 18px;
        }

        #changeBtn {
            cursor: pointer;
            font-size: 0.9rem;
            text-decoration: underline;
            color: gray;
            font-weight: 400;
            margin-top: 4px;
        }

    }

    #planPrice {
        font-size: 1.1rem;
        font-weight: 700;
    }
}



thead tr th:first-child {
    display: flex;
    flex-direction: column;
    text-align: left;
}

tbody {
    border-collapse: collapse;

    tr td {
        padding: 12px 0px;
        color: var(--cool-gray);
        font-size: 0.99rem;
    }

    tr td:last-child {
        color: var(--marine-blue);
    }
}

tbody tr:first-child td {
    padding-top: 15px;
}






tr th:last-child,
tr td:last-child {
    text-align: right;
}

tbody tr:last-child {
    padding-bottom: 0px !important;
    color: red;
}

tbody tr:last-child td {
    padding-bottom: 0px;
}

.total-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
    color: var(--cool-gray);
    align-items: center;

    #total {
        font-size: 1.3rem;
        font-weight: 700;
        /* color: #463EFF;
     */
        color: var(--purplish-blue);
    }
}

#step4 .btn-primary {
    background-color: var(--purplish-blue);
}

@media(width < 900px) {
    main {
        padding: 10px;

    }

    .main-section {
        padding: 0px 20px;
        padding-right: 10px;
    }
}

@media (width <=650px) {
    main {
        position: relative;
        flex-direction: column;
        height: 100dvh;
        align-items: center;
        width: 100%;
        padding: 0px;
        background-color: transparent;
    }

    aside {
        background: url("./assets/images/bg-sidebar-mobile.svg") no-repeat;
        background-size: cover;
        height: 172px;
        padding: 0px 30px;
        width: 100%;
        position: absolute;
    }

    .step-info-container {
        display: none;
    }

    .side-bar {
        flex-direction: row;
        justify-content: space-between;
        padding: 0px;
        height: 100%;
        padding-bottom: 90px;
    }

    form {
        width: 100%;
        overflow-x: hidden;
        height: 100%;


    }


    .main-section {
        margin-top: 100px;
        width: 90%;
        z-index: 3;
        overflow: hidden;
    }

    .steps-container {
        top: 0px;
        width: 100%;
        background-color: #fff;
        height: auto;
        border-radius: 20px;
        padding: 20px;
        left: 100%;

    }

    h1 {
        font-size: 1.6rem;
    }

    .info-p {
        font-size: 1.08rem;
    }

    .form-container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .form-group {
        gap: 4px;

        .err-msg {
            font-size: 0.9rem;
        }

        label {
            font-size: 1.02rem;
        }

        input {

            padding: 0.5em 0.7em;
            font-size: 1.08rem;
        }

    }



    .card-container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;



        .card {
            flex: 1;


            input {
                display: none;
            }

            label {
                cursor: pointer;
                display: flex;
                flex-direction: row;
                gap: 30px;
                border: 1px solid var(--light-gray);
                border-radius: 5px;
                padding: 16px 11px;


                img {
                    width: 42px;
                }

                .plan-info {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    h2 {
                        font-size: 1.1rem;
                        color: var(--marine-blue);
                    }

                    span {
                        font-size: 0.89rem;
                        color: var(--light-gray);
                        font-weight: 400;
                    }
                }
            }

            input:checked+label {
                border-color: purple;
            }
        }
    }

    .add-on-blocks {
        margin-top: 20px;

        gap: 10px;

        .block {
            padding: 0.8em 1em;


            label {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;

                .mid-block {
                    flex: 1;

                    h2 {
                        font-size: 1.1em;

                    }

                    p {
                        font-size: 0.9em;

                    }
                }


            }

        }
    }




    .btn-container {
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        background-color: #fff;
        width: 100%;
        left: 0;
        padding: 20px 0px;

        .btn-cont {
            width: 90%;
            padding-right: 10px;
        }
    }

    #summaryTable {
        margin-top: 20px;
    }
}